<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sistems teste de cnhecimento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
    <header>
        <nav class="nav nav-bar">
            <a class="nav-link" href="{{ url_for('users.home') }}">Usuários</a>
            <a class="nav-link" href="{{ url_for('product.home') }}">Produtos</a>
        </nav>
    </header>
    <div class="container">
        {% block container %}
        {% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>