{% extends 'base.html' %}
{% block container %}
<div class="row">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing='0'>
            <thead>
                <tr>
                    <th>Descricao</th>
                    <th>Preço</th>
                    <th>Categoria</th>
                </tr>
            </thead>
            <tbody class="">
                {% for key, product in products.items() %}
                <tr>
                    <td>{{ product['description'] }}</td>
                    <td>{{ product['valor'] }}</td>
                    <td>{{ product['category'] }}</td>
                    <td><a  href="{{ url_for('product.produto', key=key) }}"><i class="fa fa-eye"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>

{% endblock %}
